.wrapper-full {
  max-width: 100vw;
  font-family: Futura, Helvetica, Arial, sans-serif;
  font-size: 18px;
}

.fas {
  color: #022D41;
  font-family: FontAwesome;
  font-size: 42px;
  padding-top: 20px;
}

.header-bar {
  align-items: center;
  background-color: #022D41;
  color: #DAECF3;
  height: 75px;
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-auto-rows: 75px;
  grid-gap: 10px;
  position: fixed;
}

.nav-links, .link {
  display: inline-block;
  padding: 0;
}

.logo {
  grid-column: col-start 2 / span 1;
}

.nav-links {
  grid-column: col-start 3 / span 5;
}

.link {
  padding-right: 30px;
}

.contact-button {
  background-color: #1AA6B7;
  border: none;
  grid-column: col-start 11 / span 1;
  height: 45px;
  text-align: center;
  width: 150px;
}

.hero {
  background-image: url("city.jpg");
  background-size: cover;
  display: grid;
  height: 700px;
  align-items: center;
  width: 100vw;
}

.full-name {
  color: #022D41;
  font-size: 48px;
  margin: 0px;
}

.name-title {
  text-align: center;
}

.skill-list {
  color: #022D41;
  font-size: 24px;
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 0;
}

.wrapper-grid {
  /*align-items: center;*/
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-gap: 10px;
  /*grid-auto-rows: 200px;*/
  justify-content: center;
  max-width: 100vw;
}

.wrapper-grid > * {
  border: 1px solid black;
}

.design-box {
  margin-top: 50px;
  grid-column: col-start 2 / span 5;
  text-align: center;
}

.content-box {
  margin-top: 50px;
  grid-column: col-start 7 / span 5;
  text-align: center;
}

.development-box {
  grid-column: col-start 2 / span 5;
  grid-row: 2;
  margin-bottom: 50px;
  text-align: center;
}

.life-box {
  grid-column: col-start 7 / span 5;
  grid-row: 2;
  margin-bottom: 50px;
  text-align: center;
}

.box-title {
  color: #022D41;
  font-family: Futura, Helvetica, Arial, sans-serif;
  font-size: 24px;
  margin: 0;
}

.box-copy {
  color: #022D41;
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.project-1 {
  grid-column: col-start 2 / span 5;
  grid-row-end: span 2;
}

.project-2 {
  grid-column: col-start 7 / span 5;
  grid-row-end: span 1;
}

.project-3 {
  grid-column: col-start 7 / span 5;
  grid-row-end: span 1;
}

.background-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.process {
  grid-column: col-start 2 / span 10;
  grid-row-end: span 3;
  margin: auto;
}

.testimonial-1 {
  background-color: #DAECF3;
  grid-column: col-start 2 / span 4;
  grid-row-end: span 1;
}

.testimonial-2 {
  background-color: #DAECF3;
  grid-column: col-start 6 / span 3;
  grid-row-end: span 2;
}

.testimonial-3 {
  background-color: #DAECF3;
  grid-column: col-start 9 / span 3;
  grid-row-end: span 2;
}

.testimonial-4 {
  background-color: #DAECF3;
  grid-column: col-start 2 / span 4;
  grid-row-end: span 1;
}

.contact-form {
  border: none;
  grid-column: col-start 2 / span 5;
  grid-row-end: span 2;
  margin-top: 50px;
}

.text-input, .message {
  border: 1px solid #022D41;
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  height: 40px;
  outline: none;
  padding-left: 20px;
  resize: none;
  width: 80%;
  margin-bottom: 20px
}

.message {
  height: 200px;
  padding-top: 10px;
  width: 95%;
}

.submit-button {
  background-color: #1AA6B7;
  border: none;
  color: #DAECF3;
  grid-column: col-start 2 / span 1;
  height: 45px;
  text-align: center;
  width: 150px;
  font-family: Futura, Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin-bottom: 100px;
}

.contact-links {
  color: #022D41;
  grid-column: col-start 8 / span 2;
  margin-top: 50px;
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.social-icons {
  padding: 0;
}

.social-link {
  display: inline-block;
}

.name-email {
  margin: 0;
}

.section-title {
  color: #022D41;
  font-size: 24px;
  font-family: Futura, Helvetica, Arial, sans-serif;
  margin-bottom: 0px;
  margin-top: 50px;
  text-align: center;
}

.work-title {
  grid-column: col-start 2 / span 10;
  grid-row-end: span 0;
  margin: 0 auto 50px auto;
  color: #022D41;
  font-size: 24px;
  font-family: Futura, Helvetica, Arial, sans-serif;
}

.process-title {
  margin-top: 50px;
}

.contact-title {
  margin-bottom: 0;
  margin-top: 50px;
}


























