.wrapper-full {
  max-width: 100vw;
  font-family: Futura, Helvetica, Arial, sans-serif;
  font-size: 18px;
}

.fas {
  color: #022D41;
  font-family: FontAwesome;
  font-size: 42px;
  padding-top: 20px;
}

.header-bar {
  background-color: #022D41;
  color: #DAECF3;
  /*display: flex;*/
  height: 75px;
}

.nav-links, .link {
  display: inline-block;
}

.link {
  padding-right: 30px;
}

.contact-button {
  background-color: #1AA6B7;
  border: none;
  float: right;
  height: 50px;
  text-align: center;
  width: 150px;
}

.hero {
  background-image: url("city.jpg");
  background-size: cover;
  height: 700px;
  text-align: center;
  width: 100vw;
}

.full-name {
  color: #022D41;
  font-size: 48px;
  margin: 0px;
}

.skill-list {
  color: #022D41;
  font-size: 24px;
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.wrapper-grid {
  /*align-items: center;*/
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-gap: 0px;
  grid-auto-rows: 200px;
  justify-content: center;
  max-width: 100vw;
}

.wrapper-grid > * {
  border: 1px solid black;
}

.design-box {
  margin-top: 50px;
  grid-column: col-start 2 / span 5;
  text-align: center;
}

.content-box {
  margin-top: 50px;
  grid-column: col-start 7 / span 5;
  text-align: center;
}

.development-box {
  grid-column: col-start 2 / span 5;
  grid-row: 2;
  margin-bottom: 50px;
  text-align: center;
}

.life-box {
  grid-column: col-start 7 / span 5;
  grid-row: 2;
  margin-bottom: 50px;
  text-align: center;
}

.box-title {
  color: #022D41;
  font-family: Futura, Helvetica, Arial, sans-serif;
  font-size: 24px;
  margin: 0;
}

.box-copy {
  color: #022D41;
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.project-1 {
  grid-column: col-start 2 / span 5;
  grid-row-end: span 2;
}

.project-2 {
  grid-column: col-start 7 / span 5;
  grid-row-end: span 1;
}

.project-3 {
  grid-column: col-start 7 / span 5;
  grid-row-end: span 1;
}

.background-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.process {
  grid-column: col-start 2 / span 10;
  grid-row-end: span 3;
  margin: auto;
}
























